[submodule "Headers/YouTubeHeader"]
	path = Headers/YouTubeHeader
	url = https://github.com/PoomSmart/YouTubeHeader
[submodule "Tweaks/Alderis"]
	path = Tweaks/Alderis
	url = https://github.com/hbang/Alderis
[submodule "Tweaks/IAmYouTube"]
	path = Tweaks/IAmYouTube
	url = https://github.com/PoomSmart/IAmYouTube.git
[submodule "Headers/PSHeader"]
	path = Headers/PSHeader
	url = https://github.com/PoomSmart/PSHeader.git
[submodule "Extensions/OpenYouTubeSafariExtension"]
	path = Extensions/OpenYouTubeSafariExtension
	url = https://github.com/BillyCurtis/OpenYouTubeSafariExtension.git
[submodule "Tweaks/iSponsorBlock"]
	path = Tweaks/iSponsorBlock
	url = https://github.com/JeffreyCA/iSponsorBlock.git
[submodule "Tweaks/DontEatMyContent"]
	path = Tweaks/DontEatMyContent
	url = https://github.com/therealFoxster/DontEatMyContent.git
[submodule "Tweaks/YouChooseQuality"]
	path = Tweaks/YouChooseQuality
	url = https://github.com/PoomSmart/YouChooseQuality.git
[submodule "Tweaks/youtube-native-share"]
	path = Tweaks/youtube-native-share
	url = https://github.com/jkhsjdhjs/youtube-native-share.git
