Package: ca.jeffrey.ytminimal
Name: YTMinimal
Version: 1.0.2
Architecture: iphoneos-arm
Description: Minimal YouTube tweak bundle: iSponsorBlock, DontEatMyContent, YouChooseQuality, native share, and YTMinimalUI's interface options
Maintainer: JeffreyCA
Author: JeffreyCA
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 13.0)
